@font-face{
    font-family: Armavir;
    src: url(../assets/Armavir01.ttf) format("truetype");
    font-weight: normal;
}
@font-face{
    font-family: Armavir;
    src: url(../assets/Armavir01-Bold.ttf) format("truetype");
    font-weight: bold;
}
:root{
    --red: #CC0633;
    --darkRed: #A6192E;
    --darkGray: #54585A;
    --gray: #aaaaaa;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--gray);
    position: relative;
}
button{
    background-color: var(--white);
    display: flex;
    height: 100px;
    background-color: var(--red);
}
a{
    text-decoration: none;
    height: fit-content;
    color: var(--darkRed);
    cursor: pointer;
}
    a:hover{
        color: var(--red);
    }
    a:active{
        color: var(--darkGray);
    }

footer{
    background-color: var(--darkGray);
    position: fixed;
    padding: 3px;
    bottom: 0;
    width: 100%;
}
