@font-face{
    font-family:Armavir;
    src:url(Armavir01.ttf) format("truetype");
    font-weight:normal;
}
@font-face{
    font-family:Armavir;
    src:url(Armavir01-Bold.ttf) format("truetype");
    font-weight:bold;
}
/*
peach: hsl(34, 100%, 83%) #ffd9a8
green: hsl(149, 100%, 26%) #008540
gold: hsl(42, 99%, 54%) #feb816
grey: hsl(202, 16%, 32%) #45555f
brown: hsl(25, 80%, 41%) #bc5b15
    */
*{
    font-family: Armavir, Arial, sans-serif;
}
body{
    margin:0;
    padding:0;
    background-color:hsl(202, 16%, 32%);
    position:relative;
}
header{
    background-color:black;
    display:flex;
}
a{
    text-decoration:none;
    height:fit-content;
    color:hsl(149, 100%, 26%);
}
a:active{
    color:hsl(149, 100%, 19%);
}
#navLogo{
    background-color:black;
    margin-right:10px;
}
#logo{
    height:100px;
}
#topNav{
    width:100%;
    display:flex;
    background-color:black;
}
#navList{
    background-color:black;
    list-style-type:none;
    font-size:20px;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    z-index:1;
}
#navList li{
    position:relative;
}
.navTab{
    display:block;
    padding:10px;
    color:hsl(42, 99%, 54%);
    background-color:black;
    font-family:Armavir;
    font-weight:bold;
    align-items:center;
}
.navTab:hover{
    background-color:hsl(42, 99%, 54%);
    color:black;
}
#navList .active{
    background-color:hsl(42, 99%, 54%);
    color:black;
}
#navList .active:hover{
    color:hsl(202, 16%, 32%);
}
#hostelInfo{
    list-style-type:none;
    text-align:center;
    position:absolute;
    right:-2.5px;
    top:44px;
    display:none;
    padding:0;
    border:3px solid black;
}
#hostelInfoNav{
    width:fit-content;
    text-align:center;
    z-index:3;
    padding:10px 18px;
    cursor:default;
}
.hostelInfoNav:hover{
    background-color:hsl(42, 99%, 54%);
    color:black;
}
#hostelInfoNav:hover #hostelInfo{
    display:block;
    padding:0;
    color:black;
}

#navToggle{
    background-color:black;
    border:none;
    display:none;
    width:fit-content;
    height:fit-content;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:2px 7px;
    margin:auto 16px auto auto;
    cursor:pointer;
}
.toggleLine{
    width:45px;
    height:6px;
    display:block;
    background-color:hsl(42, 99%, 54%);
    margin:8px auto;
    border-radius:3px;
}

main{
    background-color:whitesmoke;
    margin:20px auto;
    text-align:center;
    padding:0;
    width:90vw;
    max-width:900px;
    color:black;
    position:relative;
}
#logoSection{
    background-color:hsl(42, 99%, 54%);
}
#wallabyLogo{
    width:40%;
    max-width:200px;
}

/*Booking*/
#bookingForm{
    margin:10px auto;
}
#bookingForm h2{
    margin-bottom:5px;
}

#calendar{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border:10px solid hsl(149, 100%, 26%);
    border-radius:20px;
    font-family:Armavir;
    margin:10px auto;
}
#calendar #leftMonth,#calendar #rightMonth{
    border:none;
    outline:none;
    border-radius:50%;
    text-align:center;
    width:32px;
    height:32px;
    background-color:white;
    font-size: 18px;
    line-height:32px;
}
#leftMonth{
    padding-right:3px;
    padding-bottom:3px;
    margin:0 0 0 auto;
}
#rightMonth{
    padding-left:3px;
    padding-bottom:3px;
    margin:0 auto 0 0;
}
#calendar #leftMonth:hover,#calendar #rightMonth:hover{
    background-color:hsl(42, 99%, 54%);
    cursor:pointer;
}
#calendar .monthToggle{
    border-radius:0;
    background-color:whitesmoke;
    width:60px;
}
#calendar .monthToggle:hover{
    background-color:whitesmoke;
    cursor:default;
}
#year,#month{
    padding:0;
    margin:0;
}
#calendar th{
    width:32px;
}
#calendar td{
    height:32px;
    background-color:white;
    border-radius:50%;
    box-sizing:border-box;
}
#calendar td:hover{
    background-color:hsl(42, 99%, 54%);
    cursor:pointer;
}
#calendar .pastDay{
    background-color:white;
    color:lightgray;
}
#calendar .pastDay:hover{
    background-color:white;
}
#calendar .pastDayMonth{
    color:gray;
}
#bookingInfo{
    display:none;
}
#stayLength, #stayPrice{
    margin:0 auto 5px auto;
    color:hsl(149, 100%, 26%);
}
#roomType{
    display:block;
    margin:3px auto 8px auto;
    width:166px;
    border-radius:3px;
    border:1px solid gray;
    background-color:rgb(225, 225, 225);
    color:black;
}
#guestCount{
    display:block;
    margin:3px auto 8px auto;
    width:50px;
}
#stayPrice{
    margin:0 auto;
    color:hsl(149, 100%, 26%);
}
#tax{
    margin-top:0;
    font-size:12px;
}
#guestFirstName, #guestLastName, #guestEmail, #guestPhone{
    display:block;
    margin:3px auto 8px auto;
    width:175px;
    font-family: Arial, sans-serif;
}
#guestNotes{
    display:block;
    margin:3px auto 8px auto;
    width:175px;
    font-family: Arial, sans-serif;
}
#GDPR{
    font-family: Arial, sans-serif;
}
#gdprContainer{
    width:70vw;
    margin:0 auto;
}
#bookingSubmit{
    display:block;
    margin:10px auto;
    width:144px;
    color:white;
    background-color:hsl(149, 100%, 26%);
    border:none;
    border-radius:3px;
}
#calendar label{
    float:left;
}
#bookingResponse{
    height:70px;
    width:80%;
    max-width:345px;
    margin:auto;
    border:none;
    display:none;
    color:hsl(355, 82%, 60%);
}

#mapSection{
    background-color:black;
    color:white;
    padding:10px;
    margin-top:15px;
}
#googleMap{
    color:black;
    height:350px;
    width:585px;
    max-width:90%;
    margin:10px auto;
    font-family: Arial, sans-serif;
}
/*map marker css in js
peach: hsl(34, 100%, 83%) #ffd9a8
green: hsl(149, 100%, 26%) #008540
gold: hsl(42, 99%, 54%) #feb816
grey: hsl(202, 16%, 32%) #45555f
brown: hsl(25, 80%, 41%) #bc5b15
*/



/*Info*/
.infoList{
    list-style:none;
    padding:5px 10px;
    text-align:left;
    width:80%;
    margin:auto;
}
.infoHeader{
    margin-bottom:2px;
}
.infoToggle{
    padding:5px;
    cursor:pointer;
    user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
}
.infoToggle:hover{
    color:#008540;
}
.infoToggle h3{
    display:inline;
    font-size:22px;
}
.infoTogglePlus{
    display:inline;
    width:16px;
    margin-right:2px;
}
.info{
    font-family: Arial, sans-serif;
    width:100%;
    display:none;
}
.infoList h3, .info h4{
    font-family: Arial, sans-serif;
    margin-bottom:0;
    margin-top:0;
}
.info p{
    font-family: Arial, sans-serif;
    margin-bottom:15px;
    margin-top:0;
}
.infoImg{
    max-width:350px;
    max-height:250px;
    display:block;
}

#hostelInfoImgTitle{
    width:275px;
    margin:auto;
    height:30px;
    position:relative;
}
#hostelInfoImgTitle h3{
    text-align:center;
    margin:auto;
    position:relative;
}
#hostelInfoLeftToggle{
    border:none;
    position:absolute;
    left:0px;
    top:0;
    width:25px;
    height:25px;
    background-color:hsl(42, 99%, 54%);
    color:black;
    border-radius:50%;
    font-size:14px;
    text-align: -webkit-center;
}
#hostelInfoRightToggle{
    border:none;
    position:absolute;
    right:0px;
    top:0;
    width:25px;
    height:25px;
    background-color:hsl(42, 99%, 54%);
    color:black;
    border-radius:50%;
    font-size:14px;
    text-align:-webkit-center;
}
#hostelInfoRightToggle:hover,#hostelInfoLeftToggle:hover{
    background-color:black;
    color:hsl(42, 99%, 54%);
    cursor:pointer;
}
#focusedHostelInfoImg{
    width:100%;
    max-width:500px;
    max-height:400px;
    display:block;
    margin:auto;
}
.hostelInfoImg{
    height:100px;
    width:100px;
    object-fit:cover;
    display:inline;
    margin:auto;
}
#hostelInfoImgList{
    list-style-type:none;
    height:100px;
    width:100%;
    max-width:500px;
    padding:5px 0 15px 0;
    margin:auto;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
}
#hostelInfoImgList li{
    display:inline-block;
    padding:5px 5px 2px 5px;
}
#hostelInfoImgList li:hover{
    background-color:hsl(42, 99%, 54%);
    cursor:pointer;
}

#mapContainer{
    position: relative;
    user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
    margin:16px auto;
    width:90%;
}
@media only screen and (max-width:700px){
    #mapContainer{
        width:100%;
        max-width:567px;
    }
}
#sarandaMap{
    width:100%;
    margin:auto;
}
#sarandaMap circle, #wallabyPlaceIcon{
    cursor:pointer;
}
#sarandaMapMap{
    width:100%;
    margin:auto;
}
.place{
    position:absolute;
    margin:0;
    padding:0 2px 1px 2px;
    display:none;
}

#beerpongImg, #travelinImg{
    width:80%;
    margin:auto;
}
.gameSec h2{
    margin-top:0;
}
.gameSec h3{
    margin-bottom:0;
}
.gameRules{
    width:60%;
    text-align:left;
    margin:0 auto 35px auto;
}
.gameRules li,.gameRules li strong,.gameRules li a{
    font-family:Arial, Helvetica, sans-serif;
}
.gameRules li h4{
    margin-top:0;
    margin-bottom:0;
    cursor:pointer;
    user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
}


/*Events*/
#specials{
    border-collapse:collapse;
    margin:auto;
    max-width:585px;
    width:100%;
}
#specials td{
    padding:10px;
    position:relative;
}
#specials th{
    width:140px;
    padding:10px;
    color:white;
}
#specials tr:nth-of-type(odd){
    background-color:hsl(194, 13%, 80%);
}
#specials tr:nth-of-type(1) th{
    background-color:hsl(0, 0%, 20%);
}
#specials tr:nth-of-type(1) td{
    border-left:8px solid hsl(0, 0%, 20%);
}
#specials tr:nth-of-type(2) th{
    background-color:hsl(284, 33%, 47%);
}
#specials tr:nth-of-type(2) td{
    border-left:8px solid hsl(284, 33%, 47%);
}
#specials tr:nth-of-type(3) th{
    background-color:hsl(217, 48%, 48%);
}
#specials tr:nth-of-type(3) td{
    border-left:8px solid hsl(217, 48%, 48%);
}
#specials tr:nth-of-type(4) th{
    background-color:hsl(149, 100%, 26%);
}
#specials tr:nth-of-type(4) td{
    border-left:8px solid hsl(149, 100%, 26%);
}
#specials tr:nth-of-type(5) th{
    background-color:hsl(42, 99%, 54%);
}
#specials tr:nth-of-type(5) td{
    border-left:8px solid hsl(42, 99%, 54%);
}
#specials tr:nth-of-type(6) th{
    background-color:hsl(24, 89%, 54%);
}
#specials tr:nth-of-type(6) td{
    border-left:8px solid hsl(24, 89%, 54%);
}
#specials tr:nth-of-type(7) th{
    background-color:hsl(355, 82%, 60%);
}
#specials tr:nth-of-type(7) td{
    border-left:8px solid hsl(355, 82%, 60%);
}
.sEvent{
    margin:0;
}
.sImg{
    width:65px;
    float:left;
    margin: 0;
    position: absolute;
    top:50%;
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    left:5px;
}
.sDes{
    text-align:left;
    padding-left:80px;
    font-family:Arial, Helvetica, sans-serif;
}
.sDay{
    text-align:center;
    width:fit-content;
    display:inline-block;
    width:80%;
    margin:0;
    font-size:40px;
}
@media only screen and (max-width:390px){
    .sDay{
        font-size:20px;
        width:50%;
    }
    #specials th{
        width:50%;
        padding:10px;
        color:white;
    }
    .sImg{
        width:40px;
    }
    .sDes{
        padding-left:40px;
    }
}

/*Contact*/
#fbIcon{
    padding:3px 13px 0 13px;
    color:whitesmoke;
    background-color:hsl(214, 89%, 52%);
    font-size:40px;
    border-radius:50%;
    vertical-align:text-bottom;
    overflow:hidden;
    margin:10px;
}
#fbIcon:hover{
    background-color:hsl(214, 100%, 59%);
}
#fbIcon span{
    position:relative;
    top:6px;
}



footer{
    background-color:black;
    color:whitesmoke;
    padding:10px 25px;
    /*position:absolute;
    width:100%;
    top:calc(100vh - 40px);*/
}

@media only screen and (max-width:560px){
    header{
        height:103px;
    }
    #topNav{
        margin-left:auto;
        width:113px;
        display:flex;
        flex-direction: column;
    }
    #navToggle{
        /*display:inline;*/
        display:block;
        margin-left:auto;
        margin-top:24.5px;
    }
    #navList{
        display:none;
        margin:0;
        outline:3px solid black;
        border:none;
    }
    #navList li{
        width:100%;
        text-align:center;
    }
    #hostelInfoNav{
        padding:10px 0;
    }
    #hostelInfo{
        margin-right:113px;
        margin-top:-49px;
        top:46.5px;
        right:0;
    }
}